---
name: Generate docs

on:
  workflow_dispatch:

  push:
    paths:
      - 'docs/**'
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'    # Specify your Python version

      - name: Load poetry installation cache
        id: cached-poetry-dependencies
        uses: actions/cache@v5
        with:
          path: .bai2_reader_venv
          key: bai2_reader_venv_${{ hashFiles('**/pyproject.toml') }}

      - name: Install Poetry
        uses: snok/install-poetry@v1.4.1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true    # Creates .venv inside project for easier caching

      - name: Install DEV dependencies
        run: poetry install --only dev
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'

      - name: Build using Mkdocs and publish to Github Wiki
        run:
          task mkdocs.publish.github
